In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import matplotlib.pylab as plt
import math
from scipy import stats
import geopandas as gpd
%matplotlib inline

In [2]:
import datetime
from datetime import datetime

In [ ]:
# Mass_2015 = pd.read_csv('Mass_2015_Crashes.csv', low_memory=False)#, low_memmory=False)
# Mass_2016 = pd.read_csv('Mass_2016_Crashes.csv', low_memory=False)
# Mass_2017 = pd.read_csv('Mass_2017_Crashes.csv', low_memory=False)
# Mass_2018 = pd.read_csv('Mass_2018_Crashes.csv', low_memory=False)
# Mass_2019 = pd.read_csv('Mass_2019_Crashes.csv', low_memory=False)

In [ ]:
#len(Mass_2019.columns)

In [ ]:
# Mass_2015 = Mass_2015.dropna(axis='columns')
# Mass_2016 = Mass_2016.dropna(axis='columns')
# Mass_2017 = Mass_2017.dropna(axis='columns')
# Mass_2018 = Mass_2018.dropna(axis='columns')
# Mass_2019 = Mass_2019.dropna(axis='columns')

In [ ]:
# print('2015: {}, 2016: {}, 2017: {}, 2018: {}, 2019: {}'.format(len(Mass_2015.columns),len(Mass_2016.columns),
#                                                             len(Mass_2017.columns), len(Mass_2018.columns),
#                                                             len(Mass_2019.columns)))

In [ ]:
# Mass_2015.columns

In [ ]:
# Mass_2019.columns

In [ ]:
# frames = [Mass_2015, Mass_2016, Mass_2017, Mass_2018, Mass_2019]

# Mass_Aggregate = pd.concat(frames, sort=False)

In [ ]:
# Mass_Aggregate.to_csv('Mass_Aggregate.csv', index = False, header=True)

In [3]:
Mass_Aggregate = pd.read_csv('Mass_Aggregate.csv', low_memory=False)

In [4]:
len(Mass_Aggregate)

707893

In [5]:
Mass_Aggregate = Mass_Aggregate.dropna(axis='columns')
Mass_Aggregate.head()

,OBJECTID,CRASH_NUMB,CITY_TOWN_NAME,CRASH_DATE_TEXT,CRASH_STATUS,CRASH_SEVERITY_DESCR,NUMB_VEHC,NUMB_NONFATAL_INJR,NUMB_FATAL_INJR,AMBNT_LIGHT_DESCR,WEATH_COND_DESCR,IS_GEOCODED,YEAR,DISTRICT_NUM,RPA_ABBR,CNTY_NAME
0,2001,3995056,DUXBURY,01/14/2015,Closed,Property damage only (none injured),2,0,0,Daylight,Snow/Other,Yes,2015,5,OCPC,PLYMOUTH
1,2002,3995057,DUXBURY,01/15/2015,Closed,Property damage only (none injured),1,0,0,Dark - roadway not lighted,Rain,Yes,2015,5,OCPC,PLYMOUTH
2,2003,3995058,DUXBURY,01/09/2015,Closed,Property damage only (none injured),1,0,0,Daylight,Snow/Cloudy,Yes,2015,5,OCPC,PLYMOUTH
3,2004,3995059,DUXBURY,01/09/2015,Closed,Property damage only (none injured),1,0,0,Daylight,Cloudy/Snow,Yes,2015,5,OCPC,PLYMOUTH
4,2005,3995060,WRENTHAM,01/10/2015,Closed,Property damage only (none injured),1,0,0,Daylight,Cloudy,No,2015,5,MAPC,NORFOLK

In [6]:
Mass_Aggregate['YEAR'].unique()

array([2015, 2016, 2017, 2018, 2019], dtype=int64)

In [7]:
Mass_Aggregate['CRASH_DATE_TEXT'] = pd.to_datetime(Mass_Aggregate['CRASH_DATE_TEXT'])

In [ ]:
Mass_Aggregate['CRASH_DATE_TEXT'] .head()

In [ ]:
df = Mass_Aggregate

In [ ]:
# Create a column containing the month
df['month'] = df['CRASH_DATE_TEXT'].dt.month

# # Get the start and end months
# months = df['month'].sort_values()
# start_month = months.iloc[0]
# end_month = months.iloc[-1]

# index = pd.PeriodIndex(start=start_month, end=end_month)

# df.groupby('month')['YEAR'].count().reindex(index).plot.bar();

In [ ]:
df['month'].unique()

In [ ]:
df.head()

In [ ]:
# pv = pd.pivot_table(df, index=df.month, columns=df.YEAR,
#                     values='value', aggfunc='sum')

# len(pv)

In [ ]:
df1 = pd.crosstab(Mass_Aggregate['YEAR'], 'count')
df1.head()

In [ ]:
Monthly_Plots = pd.crosstab(df['YEAR'], df['month'])

# df1 = pd.crosstab(Mass_Aggregate['YEAR'],df.month  'count')
# df1.head()

In [ ]:
Monthly_Plots = Monthly_Plots.T

In [ ]:
#Monthly_Plots = Monthly_Plots.reset_index()

In [ ]:
Monthly_Plots.plot(title='Mass Yearly Crashes by Month')

In [ ]:
Monthly_Plots.head()

In [ ]:
df1.plot()

In [ ]:
df2 = df1
df2.head()
df2 = df2.reset_index()

In [ ]:
df2.head()

In [ ]:
Population = [6794228, 6823608, 6859789, 6882635, 6892503]

In [ ]:
df1['Population'] = (Population)

#df['Price'] = pd.Series(Price)

In [ ]:
df1.head()

In [ ]:
df1['Crashes_Normalized'] = df1['count']/df1['Population']

In [ ]:
df1 = df1.reset_index()

In [ ]:
df1.head()

In [ ]:
import matplotlib.pylab as plt
%matplotlib inline

# your code here
#Plotting the depth vs accuracy
fig, ax = plt.subplots() #get axis to plot on
df1.plot(ax=ax,x='YEAR',y='count') #show the data
plt.ylabel('Total Crashes Per Year')
plt.show()

In [ ]:
import matplotlib.pylab as plt
%matplotlib inline

# your code here
#Plotting the depth vs accuracy
fig, ax = plt.subplots() #get axis to plot on
df1.plot(ax=ax,x='YEAR',y='Crashes_Normalized', title="Mass Yearly Crashes Normalized")#, yticks=np.arange(0, 0.032, step=.01)) #show the data
plt.ylabel('Crashes Per Population')
plt.show()
#plt.tile()